<nav>
  <div class="container text-center py-3">
    <a href="about.html" class="mx-2 btn text-white fw-bold">About Me</a>
    <a href="projects.html" class="mx-2 btn text-white fw-bold"
      >Curriculum Vitae</a
    >
    <a href="contact.html" class="mx-2 btn text-white fw-bold">Photography</a>
    <a href="contact.html" class="mx-2 btn text-white fw-bold">Mini Movie</a>
    <a href="contact.html" class="mx-2 btn text-white fw-bold">3D Artworks</a>
    <a href="contact.html" class="mx-2 btn text-white fw-bold"
      >Illustration Design</a
    >
    <a href="contact.html" class="mx-2 btn text-white fw-bold">Contact me</a>
  </div>
</nav>
